@import "tailwindcss";

#reader {
  border: none !important;
}

#reader__scan_region {
  background: #f8f9fa;
}

#reader__dashboard {
  padding: 1rem !important;
}

#reader__dashboard_section_csr button {
  @apply bg-[#28B0A4] text-white px-4 py-2 rounded-md font-bold hover:bg-[#239B90] transition-colors border-none cursor-pointer;
}

#reader__dashboard_section_csr select {
  @apply p-2 border border-gray-300 rounded-md outline-none mr-2;
}
